body {
    background-image: url("landingpage-background.png");
}

.back-button {
    color: rgb(0, 0, 0);
    font-size: 40px;
    position: fixed;
    top: 15px;
    left: 30px;
    text-decoration: none;
}

.back-button:active {
    color: rgba(140, 140, 140, 0.966);
}

.normal {
    text-decoration: none;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 50px;
    background-color: greenyellow;
    color: black;
    border-radius: 10px;
    border: grey solid;
    position:fixed;
    top: 40%;
    left: 35%;
}

.normal:active {
    color: white;
    background-color: green;
}

.hard {
    text-decoration: none;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 50px;
    background-color: rgb(250, 68, 68);
    color: black;
    border-radius: 10px;
    border: grey solid;
    position:fixed;
    top: 40%;
    right: 35%;
}

.hard:active {
    color: white;
    background-color: rgb(249, 18, 18);
}

.text {
    text-decoration: none;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 60px;
    color: black;
    position:fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}